# Copyright (c) 2012, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on fs
    mount_all fstab.qcom
    swapon_all fstab.qcom

    wait /dev/block/platform/msm_sdcc.1/by-name/LTALabel
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/LTALabel /lta-label nosuid nodev noatime noexec ro barrier=0

    chown system system /lta-label
    chmod 0555 /lta-label

    wait /dev/block/platform/msm_sdcc.1/by-name/TA
    class_start trimarea
    exec /sbin/wait4tad_static

on post-fs
    export LD_PRELOAD /vendor/lib/libNimsWrap.so
    # Change to socket location on libkeyctrl/suntory for /data encryption
    mkdir /dev/socket/suntory 0755 system system

on boot
    insmod /system/lib/modules/adsprpc.ko

on property:gsm.nitz.time=*
    exec /system/bin/scdnotifier nitz

service scd /system/bin/scd
    class main
    user system
    group system

#Start the qcom-system-daemon service
service qcomsysd /system/bin/qcom-system-daemon
   class main

service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
   user root
   disabled

#start GNSS/Sensor interface daemon
service gsiff_daemon /system/bin/gsiff_daemon
   class late_start
   user system
   group gps net_raw

service thermal-engine /system/bin/thermal-engine
   class main
   user root
   group root

service qseecomd /system/bin/qseecomd
	class late_start
	user root
	group root

service qrngd /system/bin/qrngd -f
   class main
   user root
   group root

service qrngp /system/bin/qrngp
    class main
    user root
    group root
    oneshot
    disabled

on property:sys.boot_completed=1
    start qrngp

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
   class late_start
   user camera
   group camera system inet input graphics

service audiod /system/bin/audiod
   class late_start
   user system
   group system

service wcnss-service /system/bin/wcnss_service
    class late_start
    user root
    group system wifi
    oneshot

service ppd /system/bin/mm-pp-daemon
    class late_start
    user system
    socket pps stream 0660 system system
    group system graphics

on property:init.svc.surfaceflinger=stopped
    stop ppd

# Start suntrold
service suntrold /system/bin/suntrold
    user system
    group system
    oneshot
    class main

# Start Credential manager daemon
service credmgrd /system/bin/credmgrd
    user system
    group system
    socket credmgr stream 0660 system system
    class main

service tad_static /sbin/tad_static /dev/block/platform/msm_sdcc.1/by-name/TA 0,16
    class trimarea
    user root
    group root
    socket tad stream 0660 system system

