on fs
    wait /dev/block/platform/msm_sdcc.1/by-name/TA
    class_start trimarea
    exec /sbin/wait4tad_static

    wait /dev/block/platform/msm_sdcc.1/by-name/cache
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cache /cache nosuid nodev barrier=1

    wait /dev/block/platform/msm_sdcc.1/by-name/system
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system ro barrier=1

    exec /system/bin/factoryreset

    mount_all fstab.qcom
    exec /system/bin/factoryreset_keep_media

    wait /dev/block/platform/msm_sdcc.1/by-name/LTALabel
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/LTALabel /lta-label nosuid nodev noatime noexec ro barrier=0

    exec /sbin/fota-ua c

on early-boot
    start sct_service

    start ta_qmi_service

on boot
    # Create symlinks for customized files
    exec /system/bin/sh /system/etc/multi-cdf-symlinker.sh

on property:dev.bootcomplete=1
    start fota-trigger

service tad_static /sbin/tad_static /dev/block/platform/msm_sdcc.1/by-name/TA 0,16
    class trimarea
    user root
    group root
    socket tad stream 0660 system system

service updatemiscta /system/bin/updatemiscta
    class main
    user root
    oneshot

# Trim Area QMI service
service ta_qmi_service /system/bin/ta_qmi_service
    user root
    disabled

# Secure Config Transfer service
service sct_service /system/bin/sct_service
    user root
    disabled

service fota-trigger /system/bin/fota-trigger
    group cache
    disabled
